<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>716711100345-87ps1eamgm43dplpn50mkd750cbgedc8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.716711100345-87ps1eamgm43dplpn50mkd750cbgedc8</string>
	<key>API_KEY</key>
	<string>AIzaSyASqMEdO7HvtH0PoGpXTADGT53LDhC9cEU</string>
	<key>GCM_SENDER_ID</key>
	<string>716711100345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>barsalu.temple</string>
	<key>PROJECT_ID</key>
	<string>ror-village-gotra</string>
	<key>STORAGE_BUCKET</key>
	<string>ror-village-gotra.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716711100345:ios:628f31f5aa80e263d38068</string>
	<key>DATABASE_URL</key>
	<string>https://ror-village-gotra.firebaseio.com</string>
</dict>
</plist>